@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-bounce{
    animation: bounce 6s infinite;
  }

  @keyframes bounce {
    0%, 100% {
      transform: translateY(-10%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  img.absolute.bottom-0.right-0.mr-3.mb-32.w-8.border.border-black.rounded-full.bg-black{
    width: 25px;
  }

  img.w-16.h-16.rounded-sm.border-2.absolute.bottom-0.border-teal-700 {
    width: 60px;
    border: 1px solid #159f9f;
}